<div class="navbar bg-primary navbar-dark navbar-expand-sm">
    <div class="container">
        <a href="/" class="navbar-brand">Shopapp</a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="~/products" class="nav-link">Ürünler</a></li>
            <li class="nav-item"><a asp-controller="shop" asp-action="list" class="nav-link">Kart</a></li>
            <li class="nav-item"><a asp-controller="shop" asp-action="list" class="nav-link">Siparişler</a></li>
            <li class="nav-item"><a asp-controller="admin" asp-action="createproduct" class="nav-link">Ürün ekle</a>
            <li class="nav-item"><a asp-controller="admin" asp-action="productlist" class="nav-link">Ürünler</a>
            </li>
        </ul>

        <form action="~/product/list" class="form-inline">
            <input name="q" type="text" class="form-control mr-2" placeholder="Arama yapın..">
            <button type="submit" class="btn btn-outline-light mr-0">Search</button>
        </form>
    </div>
</div>